.body {
	padding-block-end: 3.75rem;
}

@media screen and (min-width: 1280px) {
	.body {
		display: grid;
		grid-template-columns: 195px 1fr;
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
		    "header header"
		    "sidebar content";
		height: 100vh;
	}
	
	.header {
		grid-area: header;
	}
	
	.sidebar {
		grid-area: sidebar;
	}
	
	.content {
		grid-area: content;
	}
}