.btn-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	border: none;
	background: transparent;
	cursor: pointer;
}

.btn-icon--text {
	flex-direction: column;
	gap: 0.125rem;
	font-family: roboto-regular, sans-serif;
	font-size: 0.625rem;
}

.btn-icon--text > *{
	margin: 0;
}