.categories__items {
	display: flex;
	gap: 0.625rem;
	padding: 10px;
	margin: 0;
	font-family: roboto-regular, sans-serif;
	font-size: 0.75rem;
	list-style: none;
	white-space: nowrap;
	overflow-x: scroll;
}

.categories__items::-webkit-scrollbar {
	width: 1px;
	height: 2px;
	background-color: transparent;
}

.categories__items::-webkit-scrollbar-thumb {
	background-color: var(--badge-bg);
	border-radius: 5px;
}